# Assignment brief and reference papers
resources/*

# IDE stuff
.vscode/*

# Build artefacts
bazel-*
run.sh
test.sh

# Temperary files
*.sh~

# Data
data/*
*.png
*.svg
densities.txt
dumps/*
plots/spare_code.ipynb

# Report temp files (whitelist)
report/*
*.pdf
*.pdf_tex
!report/*.tex
