# Assignment brief and reference papers
resources/*

# IDE stuff
.vscode/*

# Build artefacts
bazel-*
run.sh
test.sh

# Temporary files
*.sh~

# Data
data/*
densities.txt
dumps/*

# Plots
plots/*

# Report temp files (whitelist)
report/*
*.pdf
*.pdf_tex
report/*.pdf

# config.txt is in the repo, but should stop being in every commit
config.txt
