# Assignment brief and reference papers
resources/*

# IDE stuff
.vscode/*

# Build artefacts
bazel-*
run.sh
test.sh

# Temporary files
*.sh~

# Data
data/*
densities.txt
dumps/*
plots/spare_code.ipynb

# Plots

*.png
*.svg

# Report temp files (whitelist)
report/*
*.pdf
*.pdf_tex
!report/*.pdf
